@charset "utf-8";

$purple-dark: #5e254b;
$purple: #a0357c;
//$scheme-main: $purple;
// $scheme-invert: $purple-dark;


@import "~bulma/bulma";
@import '~@creativebulma/bulma-divider';

@media screen and (max-width:748px) {
  body {
    font-size: small;
  }
  hr, h1, h2, h3, h4, h5, h6 {
    font-size: small;
  }
  .message {
    font-size: unset;
  }
}