.no-flex-shrink {
    flex-shrink: unset !important;
}

.numeric-input-width {
    width: 75%;
}

.list-units-table {
    column-span: all;
    width: min-content;
}

.table-unit-name {
    width: min-content;
}

.add-unit-button-box {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-left: 1px;
}

.collapse-button {
    border: 0;
}


.header {
    font-family: "Helvetica Neue", sans-serif;
}

.no-padding-section {
    padding: 0 0 0 0 !important;
}

.row-number {
    -webkit-user-drag: element;
    padding-top: 2px;
}

.row-number-label {
    padding-left: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: larger;
}

.hidden {
    display: none;
}

.pad-left-10 {
    padding-left: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}